$primary-color: #007bff;
$secondary-color: #0056b3;
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: beige;
  }
  
  /* Encabezado */
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
  }
  
  /* Navegación */
  nav ul {
    list-style: none;
    background-color: #444;
    padding: 0;
    margin: 0;
    text-align: center;
    
    li {
      display: inline;
      margin-right: 20px;
      
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
  
  /* Productos */
  .producto {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    text-align: center;
  
    img {
      max-width: 100%;
    }
  
    .precio {
      font-weight: bold;
      color: #009933;
    }
  
    .comprar {
      background-color: #009933;
      color: white;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }
  }
  
  /* Pie de página */
  footer {
    text-align: center;
    padding: 80px;
    background-color: #333;
    color: white;
  }
  
  #maps {
    float: left;
  }
  
  #icono {
    width: 80px;
    margin: 0 auto;
  }
  
  #redes {
    margin: 5px;
    float: right;
  }
  
  #info {
    list-style-type: none;
    padding: 0;
    margin: 10px;
    float: right;
    position: relative;
    top: 50px;
  
    li {
      margin: 5px;
    }
  }
  
  .tabacos {
    display: flex;
  }
  
  .tabacos2 {
    display: flex;
  }
  
  .container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    background-color: $primary-color;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  
    &:hover {
      background-color: $secondary-color;
    }
  }
  
  .info {
    display: flex;
    border: 5px;
    margin: 30px;
  }